@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|PT+Sans');

.App {
  text-align: center;
}

.background-container {
  background-image: url('./imgs/bars.png');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
}

#logo {
  text-align: center;
  width: 50%;
  height: 50%;
  margin-top: 8%;
}

.logo-container {
  text-align: center;
  height: 50%;
}

.home-container {
  background-color: white;
}

#subtitle {
  font-size: 110%;
  margin-top: 2%;
  font-family: 'Bungee Inline', cursive;
}

/* .background-image-container {
  height: 100%;
  background-image: url('imgs/bars.png');
  background-size: contain;
} */