@import url('https://fonts.googleapis.com/css?family=Catamaran:900');
@import url('https://fonts.googleapis.com/css?family=Lato:700');

.greetings-container {
  background-color: white;
  width: 100%;
}

#greetings {
  width: 100%;
  font-family: 'Catamaran', serif;
  font-size: 8em;
  padding: 4% 0 0 2%;
}

.green {
  color: #1db954;
}

#songs {
  font-size: 2em;
  font-family: 'Catamaran', serif;
  color: white;
  margin: 2% 0;
  padding-top: 1%;
}

.info-container {
  height: 150vh;
  background-color: black;
}

.track-name {
  display: table-cell;
  vertical-align: middle;
}

.album-art-container {
  text-align: center;
}

.album-art {
  width: 75%;
}

.album-name {
  margin-top: 5%;
  font-family: 'Lato', sans-serif;
  color: white;
}

#lyrics {
  color: white;
}